@model Orlik.Web.ViewModels.Account.AccountChangePasswordViewModel

@{
    ViewBag.Title = "Zmień hasło";
}

<div class="changepassword-title">
    <h1>Zmiana hasła</h1>
</div>

<div class="changepassword-wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                <div class="changepassword-label">
                    @Html.Label("Aktualne hasło", new { @class = "control-label" })
                </div>
                <div>
                    @Html.EditorFor(model => model.ActualPassword, new { htmlAttributes = new { @class = "form-control center-block" } })
                    @Html.ValidationMessageFor(model => model.ActualPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <div class="changepassword-label">
                    @Html.Label("Nowe hasło", new { @class = "control-label" })
                </div>
                <div>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control center-block" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="padding-top: 30px;">
                <div>
                    <input type="submit" value="Zmień hasło" class="btn btn-default center-block" />
                </div>
            </div>
        </div>
    }
</div>
