@using Orlik.Web.Extensions;
@model Orlik.Web.ViewModels.Reservations.ReservationsDetailsViewModel

@{
    ViewBag.Title = Model.Date;
    var name = Model.Difficulty.GetDisplayName();
}

<div class="reservationsdetails-title">
    <h1>Szczegóły rezerwacji z dnia: <br/> @Model.Date</h1>
</div>

<div class="reservationsindex-wrapper">
    <table class="table table-bordered">
        <thead>
            <tr style="pointer-events: none">
                <th>
                    @Html.DisplayName("Data")
                </th>
                <th>
                    @Html.DisplayName("Właściciel")
                </th>
                <th>
                    @Html.DisplayName("Poziom")
                </th>
                <th>
                    @Html.DisplayName("Utorzono")
                </th>
                <th>
                    @Html.DisplayName("Ostatnia aktualizacja")
                </th>
                <th>
                    @Html.DisplayName("Liczba graczy")
                </th>
            </tr>
        </thead>
        <tbody>
                <tr style="pointer-events: none;">
                    <td>
                        @Html.DisplayFor(model => Model.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.Owner.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(model => name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.NumberOfPlayers)
                    </td>
                </tr>
        </tbody>
    </table>
</div>









<div class="btn btn-reservationsdetails btn-block center-block">
    @Html.ActionLink("Dodaj mnie do rezerwacji", "AddPlayer", new { id = Model.ReservationId}, new {@class = "link-start"})
</div>

